* {
    box-sizing: border-box;
}

:root {
    --color-theme-bg: #47574f;
    --color-theme-font: bisque;
}

::selection {
    background-color: var(--color-theme-font);
    color: var(--color-theme-bg);
}

body {
    background-color: var(--color-theme-bg);
    color: var(--color-theme-font);
    display: flex;
    justify-content: center;
}

main {
    background-color: color-mix(in srgb, var(--color-theme-bg) , var(--color-theme-font) 10%);
    width: 50vw;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#szamok {
    margin-top: 10px;
    padding: 5vw;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#szamok div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-theme-font);
    color: black;
    width: 50px;
    height: 50px;
    border-radius: 999px;
}

#eredmeny {
    text-align: center;
}

table {
    border-collapse: collapse;
    margin: 20px;
}

th,td {
    border: 1px solid var(--color-theme-font);
    padding: 5px;
}

button {
    margin: 10px;
    background-color: var(--color-theme-font);
    padding: 3px 10px;
    border: 0;
    border-radius: 100px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    box-shadow: 0 0 10px #292929;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
}

button:active {
    background-color: color-mix(in srgb, var(--color-theme-font), white 50%);
    box-shadow: none;
    transition: all 0.25s;
}